<div class="mb-4">
    <label for="mediaType" class="block text-sm font-medium text-gray-700">Filter by Media Type</label>
    <select
        id="mediaType"
        [(ngModel)]="selectedType"
        (ngModelChange)="onFilterChange()"
        class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
      >
        <option value="">All Types</option>
        <option value="Movie">Movies</option>
        <option value="TV Show">TV Shows</option>
        <option value="Video Game">Video Games</option>
        <option value="Audio Book">Audio Books</option>
        <option value="E Book">E Books</option>
    </select>
</div>